.ulHeader{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 15px;
    align-items: center;
    margin: 0px;
}

header{
    height: 70px;
    width: 100%;
    background-color: #003049;
    /* top: 0;
    position: absolute; */
    border-radius: 0px 0px 15px 15px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
}

.lista{
    text-decoration: none;
    color: #669bbc;
  
}

.lista:hover{
    cursor: pointer;
    font-size: 17px;
    color:#c1121f;
}